.header {
    background-color: getColor('light');
}

.header--container {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:768px) {
        justify-content: start;
        padding-top: 16px;
        align-items: baseline;

        & .logo {
            margin-right: 88px;
        }
    }
}

@media screen and (min-width:768px) {
    .nav {
        display: flex;
        align-items: center;
        margin-right: 117px;
    }

    .menu {
        display: flex;
        align-items: baseline;
        gap: 50px;
    }
}


.menu__link {
    color: getColor('primary');
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &--active {
        color: getColor('accent')
    }
}

.contacts {
    display: flex;
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width:768px) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 12px;
    }
}

.contact__link {
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        gap: 8px;
        color: getColor('secondary');
        font-size: 12px;
        letter-spacing: 0.24px;
    }
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: flex;
    }
}