.logo {
    color: getColor('accent');
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    outline: none;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        letter-spacing: 0.78px;
    }

    &__span {
        color: getColor('primary');
    }
}