.logo {
    color: getColor('accent');
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;

    &__span {
        color: getColor('primary');
    }
}