.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity $transition;
    background-color: rgba(0, 0, 0, 0.20);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform $transition;
    padding: 40px;
    width: calc(100% - 30px);
    max-width: 450px;
    height: 609px;
    text-align: center;
    border-radius: 4px;
    background-color: getColor('light');
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @media screen and (min-width:1200px) {
        max-width: 528px;
        height: 581px;
    }
}

.modal__title {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        line-height: 1.15;
    }
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    @include centeredFlex();
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    outline: none;
    ;
    border-radius: 50%;
    fill: #000;
    background-color: getColor('light');
    transform: scale(1);
    transition: fill $transition, transform $transition;

    &:focus,
    :hover {
        fill: getColor('accent');
        transform: scaleY(1.1);
    }
}

.order__form-field {
    position: relative;
    display: block;

    &:not(:last-child) {
        margin-bottom: 28px;
    }
}

.order__input {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 0 0 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color $transition;

    &:focus,
    .order__form-field:hover & {
        border-color: getColor('accent');
    }
}

.order__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform $transition, fill $transition;
    left: 12px;
    fill: getColor('primary');

    .order__input:focus+&,
    .order__form-field:hover & {
        fill: getColor('accent');
    }
}

.order__label {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(-4px);
    color: getColor('secondary');
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.12px;
    transition: color $transition;

    .order__input:focus~&,
    .order__form-field:hover & {
        color: getColor('accent');
    }
}

.order__input--text {
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    color: rgba(117, 117, 117, 0.5);
    line-height: 1.15;
    letter-spacing: 0.14px;
}

.consent__form-field {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 24px;
    margin-bottom: 30px;
}

.consent__icon {
    position: absolute;
    left: 0;
    @include centeredFlex;
    width: 16px;
    height: 15px;
    fill: getColor('secondary');
    border: 2px solid getColor('primary');
    border-radius: 4px;

    .consent__check-box:checked+& {
        background-color: getColor('accent');
        border-color: transparent;
    }

}

.consent__check-box {
    display: none;
}

.consent__text {
    color: getColor('secondary');
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.36px;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }
}

.consent__link {
    color: getColor('accent');
}