.specific-list {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.42px;
    gap: 30px;

    @media screen and (min-width: 768px) {
        flex-flow: row wrap;
    }
}

.specific__item {
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }

}

.specific__icon {
    @include centeredFlex();
    width: 100%;
    height: 120px;
    background-color: getColor('background');
    margin-bottom: 30px;
}

.specific__title {
    text-align: center;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.specific__text {
    color: getColor('secondary');
}